name: CMake Root

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    name: "${{ matrix.conf.name }} | ${{ matrix.cmake-build-type }}"
    runs-on: ${{ matrix.conf.os }}
    strategy:
      fail-fast: false
      matrix:
        conf:
          - name: Ubuntu 20.04
            os: ubuntu-20.04
          - name: Ubuntu 18.04
            os: ubuntu-18.04
          - name: MacOS 11
            os: macos-11
          - name: MacOS 10.15
            os: macos-10.15
#          - name: Windows 2022 # Issue on vcpkg currently
#            os: windows-2022
          - name: Windows 2019
            os: windows-2019
          - name: Windows 2016
            os: windows-2016
        cmake-build-type: [ Debug, Release ]

    steps:
      - uses: actions/checkout@v2
      - uses: turtlebrowser/get-conan@main

      - name: Install Linux dependencies for All
        if: startsWith(matrix.conf.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build pkg-config curl zip unzip tar make cmake build-essential libx11-dev libxrandr-dev libxi-dev libudev-dev libgl1-mesa-dev libopenal-dev libvorbis-dev libflac-dev

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{ matrix.cmake-build-type }}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{ matrix.cmake-build-type }}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{ matrix.cmake-build-type }}
